# Python basis

The notebook aims to introduce the fundamental basis of **Python**.

# Why Python?

### Pros:
- Interpreted lenguage
- Quick variable declaration
- Simple sintaxis
- Many especialized libraries
- Runs in Windows, Mac, Linux.
- Object oriented
- free ¡¡

### Cons?
- Slow? ...cython speeds up a lot!

# Your first code

Les's start with something simple

In [128]:
# This a comment and we are going to print "Hello world"
print("Hola mundo")

# This is another comment

Hola mundo

# Comments
In python we use # to wrhite a comment in one line

Or """   """  to write comments in several lines

In [129]:
# This line is a cooment and will be ignored by the code

"""All of
these lines
are comments
and also
are ignored
by the code"""

'All of\nthese lines\nare comments\nand also\nare ignored\nby the code'

# Basic objects: 

Integers, floats, complex, strings, and boolean

In [130]:
#type(5)

#type(3.14)

#type(3+3j)

#type("Hello")

#type(True)

#type(5), type(3.14), type(3+3j), type("Hello"), type(True)

In python you don't need a rigid sintaxis to declare variables, if you type

$x=1$

python interpretes x as an integer, also, if you type,

$x = 1.4$ or $x=1.$ (note the point in this last declaration)

**Python** deletes the previous assignation to x and makes a new variable declaration for x as a float.

String objects are declared with quotes, either "" or '', they are equivalent. For example, star="Hello", or star='Hello', both make the same work.

Once that you declared a variable, you can latter change the its type:

In [131]:
a=3.14
print(a), type(a)

a=int(a)
print(a), type(a)

a=complex(a)
print(a), type(a)

a=int(a.real)
print(a),type(a)

a=str(a)
print(a),type(a)

3.14
3
(3+0j)
3
3

(None, str)

# Everything is an object

In Python everithing is an **object**

An object has attributes, methods, and/or functions.

Even the simplest variable is an object

Check the methods of the any variable by yourself: 
- Create a variable, e.g., **a=7.89**
- Then type **a.** and hit the TAB key and choose one method, then write the interrogation ? and run the cell.

In [132]:
a=7.89

In [133]:
a.as_integer_ratio()

(8883350264988303, 1125899906842624)

Explore other attributes, methods, and/or functions

In [134]:
a.imag

0.0

# Caution ¡¡

In [140]:
x = 6.8

In [141]:
k = x

In [142]:
print(x)
print(k)

6.8
6.8

In [143]:
x = 4097.826

In [144]:
print(x)
print(k)

4097.826
6.8

In [148]:
k = 0.76

In [149]:
print(x)
print(k)

4097.826
0.76

# Print

In [1]:
A = 9
print("The values in A is",A)

The values in A is 9

In [5]:
A1 = 8.6
A2 = 3.76

print("The values in A1 is",A1," and the value in A2 is",A2)

print("The values in A1 is %s and the value in A2 is %s" % (A1,A2) )

The values in A1 is 8.6
and The value in A2 is 3.76

# Your first simple taxes and tip calculator ¡¡

Example: calculate how much you should tip after a meal and how much did you expend

- The total bill is $meal$ pycoins
- You must pay taxes of $16\%$
- You want to tip $10\%$ of your bill
- How much is the tip?
- How much did you spend?

In [32]:
# Here is a nice solution

# Total meal
meal=1000
print("The total bill is %s pycoins" % meal)

# Compute taxes and
taxes = meal*(16/100)

# Compute the total of meal plus taxes
mealplustaxes = meal + taxes
print("The meal plus taxes is %s pycoins" % mealplustaxes)

# Compute the tip
tip = mealplustaxes*(10/100)
print("The tip is %s pycoins" % tip)

# Total cost
totalcost = mealplustaxes+tip
print("The total cost of your meal is %s pycoins" % totalcost)

The total bill is 1000 pycoins
The meal plus taxes is 1160.0 pycoins
The tip is 116.0 pycoins
The total cost of your meal is 1276.0 pycoins

In [33]:
# Here is a fancy solution
"""
# Total meal
meal = int(input("Total bill? "))

# Compute taxes and
taxes = meal*(16/100)

# Compute the total of meal plus taxes
mealplustaxes = meal + taxes
print("The meal plus taxes is %s pycoins" % mealplustaxes)

# Compute the tip
perctip = int(input("How much do you wanna tip (in %) "))
tip = mealplustaxes*(perctip/100)
print("The tip is %s pycoins" % tip)

# Total cost
totalcost = mealplustaxes+tip
print("The total cost of your meal is %s pycoins" % totalcost)
"""

'\n# Total meal\nmeal = int(input("Total bill? "))\n\n# Compute taxes and\ntaxes = meal*(16/100)\n\n# Compute the total of meal plus taxes\nmealplustaxes = meal + taxes\nprint("The meal plus taxes is %s pycoins" % mealplustaxes)\n\n# Compute the tip\nperctip = int(input("How much do you wanna tip (in %) "))\ntip = mealplustaxes*(perctip/100)\nprint("The tip is %s pycoins" % tip)\n\n# Total cost\ntotalcost = mealplustaxes+tip\nprint("The total cost of your meal is %s pycoins" % totalcost)\n'

# Strings

String variables are sequences

You can create a string containing characters and numbers.

IMPORTANT: In a sequence of N elements, the index of the first element is 0, and the index of the last element is N-1.

In [6]:
# Create a string
s = "mysTRingL0c0"

# Get some elements of the string
si = s[0]
print(si)

sj = s[6]
print(sj)

sj = s[-1]
print(sj)

sj = s[0:3]
print(sj)

sj = s[:3]
print(sj)

m
n
0
mys
mys

In [8]:
# Explore the attributes, methods, and/or functions
print(s)
S = s.lower()
print(S)

mysTRingL0c0
mystringl0c0

You can also check what kind of string variable you have

In [9]:
print(s.isalpha())

print(S.isdigit())

False
False

# Lists

List of objets

In [36]:
# This is a list of different types of objets
x=[1.3,'aja',7+4j]
print(type(x))
print(x)

<class 'list'>
[1.3, 'aja', (7+4j)]

In [37]:
# Create a list containing several numerical elements
mylist = [3, 6, 9, 8, 3]

print(type(mylist))
print(mylist)

<class 'list'>
[3, 6, 9, 8, 3]

In [38]:
# Create a list containing several numerical and string elements
mylist = [3, 'seis', 9, 'ocho', 3]

print(type(mylist))
print(mylist)

<class 'list'>
[3, 'seis', 9, 'ocho', 3]

### Accesing elements and get a slide

Accessing elements of a list and get

Let's start with a list of numbers

In [1]:
l = [3, 6, 9, 8,  23, 59, 12]
print(l)

[3, 6, 9, 8, 23, 59, 12]

In [2]:
l[0]

3

In [3]:
l[0:1]

[3]

In [4]:
l[0:4]

[3, 6, 9, 8]

In [5]:
l[2:4]

[9, 8]

In [6]:
v4 = l[0:3]
print(v4)

[3, 6, 9]

In [7]:
v4 = l[:3]
print(v4)

[3, 6, 9]

In [8]:
vfin = l[-1]
print(vfin)

12

Another example

In [11]:
x   = ["Rice","Lentils","Bread","Oranges","Berries","Melon","Eggs","Milk"]

In [12]:
x[0]

'Rice'

In [13]:
x[0:1]

['Rice']

In [44]:
x[0:2]

['Rice', 'Lentils']

In [45]:
x[0:3]

['Rice', 'Lentils', 'Bread']

In [46]:
x[2:6]

['Bread', 'Oranges', 'Berries', 'Melon']

In [47]:
x[-1]

'Milk'

Change the value of an element

In [17]:
l = [3, 6, 9, 8,  23, 59, 12]
print(l)

[3, 6, 9, 8, 23, 59, 12]

In [18]:
l[1] = 847

print(l)

[3, 847, 9, 8, 23, 59, 12]

### Indexing

In [48]:
x   = ["Rice","Lentils","Bread","Oranges","Berries","Melon","Eggs","Milk"]

In [49]:
idx = x.index("Oranges")

print("The index of %s is %s" % (x[idx],idx) )

The index of Oranges is 3

In [10]:
l = [3, 6, 9, 8,  23, 59, 12]

In [13]:
ind = l.index(23)

print("The index of %s is %s" % (l[ind],ind) )

The index of 23 is 4

### Append elements

**append()** adds a new element at the end of the list

In [50]:
mylist = [3, 6, 9, 8, 3]
print(mylist)

mylist.append(22)
print(mylist)

[3, 6, 9, 8, 3]
[3, 6, 9, 8, 3, 22]

In [73]:
Mylist = ["Rice","Lentils","Bread","Oranges","Berries","Melon","Eggs","Milk"]
print(Mylist)

newitem = "Soap"
Mylist.append(newitem)

print(Mylist)

['Rice', 'Lentils', 'Bread', 'Oranges', 'Berries', 'Melon', 'Eggs', 'Milk']
['Rice', 'Lentils', 'Bread', 'Oranges', 'Berries', 'Melon', 'Eggs', 'Milk', 'Soap']

### Pop out elements of a list

**pop()** dropt put elements

In [69]:
x = ["Rice","Lentils","Bread","Oranges","Berries","Melon","Eggs","Milk"]
print(x)

x.pop(5)

print(x)

['Rice', 'Lentils', 'Bread', 'Oranges', 'Berries', 'Melon', 'Eggs', 'Milk']
['Rice', 'Lentils', 'Bread', 'Oranges', 'Berries', 'Eggs', 'Milk']

### Inserting elements

In [70]:
x = ["Rice","Lentils","Bread","Oranges","Berries","Melon","Eggs","Milk"]
print(x)

x.insert(3,"Pasta")
print(x)

['Rice', 'Lentils', 'Bread', 'Oranges', 'Berries', 'Melon', 'Eggs', 'Milk']
['Rice', 'Lentils', 'Bread', 'Pasta', 'Oranges', 'Berries', 'Melon', 'Eggs', 'Milk']

### Strings

All these indexin operations also work with strings

In [53]:
# Create a string
s = "mysTRingL0c0"

print(s.index('y'))
print(s[1])

1
y

### Reverse the elements of a list 

Reverse the string "nufsinohtyp" directly from the lists attributes

In [54]:
s="ecitcarptsujysaednanufsinohtyp"
print(s)

ecitcarptsujysaednanufsinohtyp

In [55]:
print(s[::-1])

pythonisfunandeasyjustpractice

### Length of objects in a list

Very often, you want to know what is the length of your list:

In [56]:
mylist = [3, 6, 9, 8,  23, 59, 12]
print(mylist)

x = len(mylist)
print(x)

print("The length of mylist is %s" % x )

[3, 6, 9, 8, 23, 59, 12]
7
The length of mylist is 7

### Append

In [78]:
List1 = ["Rice","Lentils","Bread","Oranges","Berries","Melon","Eggs","Milk"]
List2 = ["Soap","Chips","Soda"]

List  = List1 + List2

print(List1)
print(List2)
print(List)

['Rice', 'Lentils', 'Bread', 'Oranges', 'Berries', 'Melon', 'Eggs', 'Milk']
['Soap', 'Chips', 'Soda']
['Rice', 'Lentils', 'Bread', 'Oranges', 'Berries', 'Melon', 'Eggs', 'Milk', 'Soap', 'Chips', 'Soda']

In [79]:
# But this does not work:
# List + "Shampoo"
# Why?

# Dictionaries

Allows to store key-value pairs. They are also kwnon as maps, hashtables, associate arrays

In [110]:
mydir = {}

"""
mydir['Andrew']   = 2984
mydir['Claudia']  = 683564
mydir['Vanesa']   = 298
mydir['Juan']     = 6835
mydir['Maria']    = 357
mydir['Jhon']     = 83564
mydir['Luke']     = 357
mydir['Blake']    = 9728
"""

mydir = {'Andrew':2984,'Claudia':683564,'Vanesa':298,'Juan':6835,'Maria':357,'Jhon':83564,'Luke':357,'Blake':9728}

In [111]:
mydir

{'Andrew': 2984,
 'Claudia': 683564,
 'Vanesa': 298,
 'Juan': 6835,
 'Maria': 357,
 'Jhon': 83564,
 'Luke': 357,
 'Blake': 9728}

Note that the dictionary is made of keys and values

In [112]:
mydir.keys()

dict_keys(['Andrew', 'Claudia', 'Vanesa', 'Juan', 'Maria', 'Jhon', 'Luke', 'Blake'])

In [113]:
mydir.values()

dict_values([2984, 683564, 298, 6835, 357, 83564, 357, 9728])

In [114]:
mydir.items()

dict_items([('Andrew', 2984), ('Claudia', 683564), ('Vanesa', 298), ('Juan', 6835), ('Maria', 357), ('Jhon', 83564), ('Luke', 357), ('Blake', 9728)])

We can access an element value using the element key:

In [115]:
mydir["Vanesa"]

298

In [116]:
#mydir["Vatoloco"]

Or we can change the value of a key

In [117]:
mydir['Vanesa']   = 11222
mydir["Vanesa"]

11222

We can also check the existence of a key in the dictionary

In [120]:
isVanesa = "Vanesa" in mydir
isVanesa

True

In [121]:
isVanesa = "Peter" in mydir
isVanesa

False

We can add or delete new key-value pairs

In [122]:
mydir['Fabiola']   = 5784092

In [123]:
mydir

{'Andrew': 2984,
 'Claudia': 683564,
 'Vanesa': 11222,
 'Juan': 6835,
 'Maria': 357,
 'Jhon': 83564,
 'Luke': 357,
 'Blake': 9728,
 'Fabiola': 5784092}

In [124]:
del mydir["Juan"]

In [125]:
mydir

{'Andrew': 2984,
 'Claudia': 683564,
 'Vanesa': 11222,
 'Maria': 357,
 'Jhon': 83564,
 'Luke': 357,
 'Blake': 9728,
 'Fabiola': 5784092}

In [126]:
for ikey in mydir:
    print("Key: ", ikey, "  -  Value: ", mydir[ikey])

Key:  Andrew   -  Value:  2984
Key:  Claudia   -  Value:  683564
Key:  Vanesa   -  Value:  11222
Key:  Maria   -  Value:  357
Key:  Jhon   -  Value:  83564
Key:  Luke   -  Value:  357
Key:  Blake   -  Value:  9728
Key:  Fabiola   -  Value:  5784092

In [151]:
mydir.clear()
mydir

{}

# Tuples

Tuple is a list of values grouped toguether

In [155]:
p = (3,7,6,7,4)

In [156]:
print(p)
print(p[0])
print(p[1])

(3, 7, 6, 7, 4)
3
7

List: homogeneosu (all values have similar meaning)

Tuple: heterogenepus (all values have different meaning)

In [160]:
p[3]

7

In [161]:
#p[3] = 54

# Range

**range()** returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and stops before a specified number.

**range(start,stop,step)** creates a sequence of integers from start (inclusive) to stop (exclusive) separated by step. 



Defaults are start=0 and step=1.

In [82]:
m = range(10)

print(type(m))
print(m)
print(m[0])
print(m[1])
print(m[-1])

<class 'range'>
range(0, 10)
0
1
9

In [19]:
# Create a sequence of numbers from to 19 with increments of 2
m = range(2,20,2)

print(type(m))
print(m)

print(m[0])
print(m[1])
print(m[2])
print(m[3])

<class 'range'>
range(2, 20, 2)
2
4
6
8

In [20]:
# Print each element in the list. Details about the bucle for later
for n in m:
      print(n)

2
4
6
8
10
12
14
16
18

# Short notations for lists: combining range and for loop

There are ways to create numerical lists with each number in the list having a special meaning or following a sequence

We use the **for loop** whose details will be addreesed later on

Create a list of number from 0 to 4

In [11]:
x = range(5)

print(x)
print(x[2])
print(type(x))

range(0, 5)
2
<class 'range'>

In [12]:
a = [x for x in range(10)]

print(a)
print(a[2])
print(type(a))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
2
<class 'list'>

Create a list of the squares from 0 to 9

In [2]:
y = [x**2 for x in range(10)]

print(y)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

Create a list of the even integers from 0 to 14

In [3]:
m = [n for n in range(15) if n%2==0]

print(m)

[0, 2, 4, 6, 8, 10, 12, 14]